*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  /* background: #e91e63; */
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding: 30px;
}

#input_area {
  margin: 0.5em;
}
#output_area {
  margin: 0.5em;
}
#network {
  width: 1000px;
  height: 500px;
  border: 1px solid #000;
  margin: 1em;
}

form {
  background: #fff;
  width: 100%;
  margin: 1em auto;
  padding: 5px;
  min-width: 320px;
  max-width: 540px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
}
form > div {
  margin: 1em auto;
}

h1 {
  color: #fff;
}
group + group {
  margin-top: 10px;
}
.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
}
.inline-radio div {
  position: relative;
  flex: 1;
}
.inline-radio input {
  width: 100%;
  height: 40px;
  opacity: 0;
}
.inline-radio label {
  position: absolute;
  top: 0;
  left: 0;
  color: #b6b6b6;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border-right: 1px solid #b6b6b6;
}
.inline-radio div:last-child label {
  border-right: 0;
}
.inline-radio input:checked + label {
  background: #d81b60;
  font-weight: 500;
  color: #fff;
}
